{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Cifrado RSA (Imagenes)</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" integrity="sha384-rnJUVlfOu2+k9suL3km28zDp0cTtwsU+4d+slceK95i1BSdFfeUJdCfcKyW5J3nl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
        <h2>Cifrado DES (Imagenes)</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image_input">Image:</label>
            <input type="file" id="image_input" name="image_input" accept="image/*"><br>
        
            <div>
                <label for="id_operation">Operación:</label><br>
                {{ form.operation }}
            </div>
            <div>
                <label for="id_type_DES">Tipo de DES:</label><br>
                {{ form.type_DES }}
            </div>
            <div>
                <label for="id_mode">Modo de Operación:</label><br>
                {{ form.mode }}
            </div>
            <div>
                <label for="id_key">Clave:</label><br>
                {{ form.key }}
            </div>
            <div>
                <label for="id_IV">Vector de Inicialización (IV):</label><br>
                {{ form.IV }}
            </div>
            
            <input type="submit" value="Submit">
        </form>

        {% if original_image %}
        <h2>Original Image</h2>
            <img src="data:image/png;base64,{{original_image}}" alt="Original Image">
        {% endif %}
        
        {% if action == 'Encryption' %}
            <h2>Result</h2>
            <p><strong>Image:</strong></p>
            <img src="data:image/png;base64,{{result_image}}" alt="Encrypted Image">
        {% endif %}
    </div>
</body>
</html>
