{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ElGamal Encryption/Decryption</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" integrity="sha384-rnJUVlfOu2+k9suL3km28zDp0cTtwsU+4d+slceK95i1BSdFfeUJdCfcKyW5J3nl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>ElGamal Cryptographic Operations</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Additional fields for ElGamal algorithm can be added here -->
        <!-- Example: Key input, message input, etc. -->

        <input type="submit" value="Submit">
    </form>

    {% if result %}
        <h2>Result:</h2>
        <p>{{ result }}</p>
    {% endif %}

    {% if public_key %}
        <h2>Public Key:</h2>
        <p>{{ public_key }}</p>
    {% endif %}

    {% if private_key %}
        <h2>Private Key:</h2>
        <p>{{ private_key }}</p>
    {% endif %}
    <a href="{% url 'index' %}" class="btn btn-primary">Regresar al Inicio</a>

</body>
</html>
