{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" integrity="sha384-rnJUVlfOu2+k9suL3km28zDp0cTtwsU+4d+slceK95i1BSdFfeUJdCfcKyW5J3nl" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{{ form.non_field_errors }}
{% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
{% endfor %}
<label for="message">Mensaje:</label>
<input type="text" name="message" required>
<br>
<label for="mode">Modo:</label>
<select name="mode" required>
    <option value="encrypt">Cifrar</option>
    <option value="decrypt">Descifrar</option>
</select>
<a href="{% url 'index' %}" class="btn btn-primary">Regresar al Inicio</a>
