<h2>Cifrado y Descifrado</h2>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    {% include 'rabin/crypto_form.html' with form=form %}
    <button type="submit" name="action" value="encrypt">Cifrar</button>
    <button type="submit" name="action" value="decrypt">Descifrar</button>
</form>

{% if p and q and n and ciphertext and decrypted_message %}
    <h3>Resultados:</h3>
    <p>p = {{ p }}</p>
    <p>q = {{ q }}</p>
    <p>n = {{ n }}</p>
    <p>Cifrado = {{ ciphertext }}</p>
    <p>Descifrado = {{ decrypted_message }}</p>
{% endif %}
